<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
### YOUR CODE STARTS HERE
import pandas as pd
import numpy as np
import seaborn as sns

In [14]:
headers = [
"Class Name",
"handicapped-infants",
"water-project-cost-sharing",
"adoption-of-the-budget-resolution",
"physician-fee-freeze",
"el-salvador-aid",
"religious-groups-in-schools",
"anti-satellite-test-ban",
"aid-to-nicaraguan-contras",
"mx-missile",
"immigration",
"synfuels-corporation-cutback",
"education-spending",
"superfund-right-to-sue",
"crime",
"duty-free-exports",
"export-administration-act-south-africa"]


votes_df = pd.read_csv(
    'https://archive.ics.uci.edu/ml/' 
    + 'machine-learning-databases/voting-records/house-votes-84.data',
                       header = None,
                       names=headers,
                       na_values="?")
votes_df.head()

   Class Name  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                    NaN
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [0]:
votes_df = votes_df.replace({'y':1, 'n':0})

In [16]:
# Filter out democrats
is_dem = votes_df['Class Name'] == "democrat"
dems_df = votes_df[is_dem]
dems_df.head()

  Class Name  ...  export-administration-act-south-africa
2   democrat  ...                                     0.0
3   democrat  ...                                     1.0
4   democrat  ...                                     1.0
5   democrat  ...                                     1.0
6   democrat  ...                                     1.0

[5 rows x 17 columns]

In [17]:
# Filter Republicans
reps_df= votes_df[~is_dem]
reps_df.head()

    Class Name  ...  export-administration-act-south-africa
0   republican  ...                                     1.0
1   republican  ...                                     NaN
7   republican  ...                                     1.0
8   republican  ...                                     1.0
10  republican  ...                                     0.0

[5 rows x 17 columns]

In [18]:
# Check percentage of a bill
reps_df['education-spending'].mean()

0.8709677419354839

In [19]:
dems_df['education-spending'].mean()

0.14457831325301204

In [20]:
reps_df.describe()

       handicapped-infants  ...  export-administration-act-south-africa
count           165.000000  ...                              146.000000
mean              0.187879  ...                                0.657534
std               0.391804  ...                                0.476168
min               0.000000  ...                                0.000000
25%               0.000000  ...                                0.000000
50%               0.000000  ...                                1.000000
75%               0.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 16 columns]

In [21]:
dems_df.describe()

       handicapped-infants  ...  export-administration-act-south-africa
count           258.000000  ...                              185.000000
mean              0.604651  ...                                0.935135
std               0.489876  ...                                0.246956
min               0.000000  ...                                0.000000
25%               0.000000  ...                                1.000000
50%               1.000000  ...                                1.000000
75%               1.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 16 columns]

In [0]:
def get_votes(vote_ls, bill:str):
  """ get votes from both dems and reps without all that typing"""
  dems, reps = vote_ls
  dem_vote = dems[bill]
  rep_vote = reps[bill]
  print(f"Democrat support = {dem_vote.mean()}\nRepublican support = {rep_vote.mean()}")
  return (dem_vote, rep_vote)

vote_split = (dems_df, reps_df)
from scipy.stats import ttest_ind

## Adoption of the budget
### Null Hypothesis
Democrats do not support adoption of the budget more than republicans
### Alternative hypothesis
Democrats do support adoption of the budget more than republicans

In [23]:
dems, reps = get_votes(vote_split, "adoption-of-the-budget-resolution")

Democrat support = 0.8884615384615384
Republican support = 0.13414634146341464

In [24]:
ttest_ind(dems, reps, nan_policy='omit')

Ttest_indResult(statistic=23.21277691701378, pvalue=2.0703402795404463e-77)

### Results
Due to the mean support of democrats > mean support of Republicans, and a p value far less than 0.01, we reject the null hypothesis.

## Education spending
### Null Hypothesis
Republicans do not support education spending democrats
### Alternative hypothesis
Republicans do support education spending more than democrats

In [25]:
dems, reps = get_votes(vote_split, "education-spending")

Democrat support = 0.14457831325301204
Republican support = 0.8709677419354839

In [26]:
ttest_ind(dems, reps, nan_policy='omit')

Ttest_indResult(statistic=-20.500685724563073, pvalue=1.8834203990450192e-64)

### Results
Due to the mean support of republicans > mean support of democrats, and a p value far less than 0.01, we reject the null hypothesis.

## Water Bill spending
### Null hypothesis
There is no difference between republicans and democrats
### Alternative hypothesis
There is a difference between republicans and democrats

In [27]:
dems, reps = get_votes(vote_split, "water-project-cost-sharing")

Democrat support = 0.502092050209205
Republican support = 0.5067567567567568

In [28]:
ttest_ind(dems, reps, nan_policy='omit')

Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823993485)

### Conclusion
Due to a pvalue of 0.92, we fail to reject the null hypothesis

# Stretch Goals
## Refactor

In [0]:
def run_ttest(left_df: pd.DataFrame, right_df: pd.DataFrame, select: str, confidence: float):
  """Run an independant t-test on 2 dataframes

  Args:
    left_df(pd.DataFrame)
    right_df(pd.DataFrame)
    select(str): The string used to select the column to be compared
    confidence(float): The desired confidence level. Enter '0.5' for 95% confidence
  """

  left = left_df[select]
  right = right_df[select]
  print(
      f"Left df mean = {left.mean():.2f}\n"
      f"right df mean = {right.mean():.2f}"
  )

  t_value, p_value = ttest_ind(left, right, nan_policy='omit')

  if p_value >= confidence:
    print(f"with a p_value of {p_value:.8f}, we fail to reject the null hypothesis")
  else:
    print(f"with a p_value of {p_value:.8f}, we reject the null hypothesis")

In [30]:
run_ttest(dems_df, reps_df, "immigration", 0.05)

Left df mean = 0.47
right df mean = 0.56
with a p_value of 0.08330248, we fail to reject the null hypothesis